:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
}

:root[data-theme='light'] {
	--background-color: #f0f0f0;
	--color: black;
}

:root[data-theme='dark'] {
	--background-color: #2b3e51;
	/* --color: #f0f0f0; */
}

* {
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex: 1;
	display: flex;
	flex-direction: column;
	min-height: 0;
}

body {
	margin: 0;
	width: 100%;
	min-width: 320px;
	min-height: 100vh;
	color: var(--color);
	background: var(--background-color);
}

.logo {
	display: flex;
	align-items: center;
	text-decoration: none;
}
.logo-img {
	background: url(././assets/logo/logo.svg) no-repeat;
	width: 50px;
	height: 50px;
	margin: 0 20px;
}
#h1 {
	font-family: 'Unbounded', sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	font-size: 3em;
	background: linear-gradient(#6d3bff 0%, #3b8bf6 50%, #2fd6c7 100%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	color: transparent;
	padding-top: 15px;
}
@media (max-width: 1000px) {
	.logo-img {
		margin: 0 10px;
		font-optical-sizing: auto;
	}
	#h1 {
		font-weight: 300;
		font-size: 2.2em;
	}
}

@media (max-width: 860px) {
	#h1 {
		font-weight: 300;
		font-size: 1.8em;
	}
}

.description {
	display: flex;
	align-items: center;
	font-family: 'Unbounded', sans-serif;
	font-style: italic;
	color: #3b8bf6;
	font-weight: 300;
}

@media (prefers-color-scheme: light) {
	/* :root {
		color: #213547;
		background-color: #ffffff;
	} */
}
