.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
	gap: 12px;
	margin: 20px 0;
}
.slot {
	padding: 12px;
	border: none;
	border-radius: 10px;
	background: #f0f0f0;
	font-weight: 600;
	color: #444;
	cursor: pointer;
	transition: 0.2s;
	box-shadow:
		4px 4px 8px #bebebe,
		-4px -4px 8px #ffffff;
}
.active {
	background: #0ea5e9;
	color: white;
	box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.2);
}
